{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{entry_title}}
{% endblock %}

{% block body %}
    <!--markdown entry-->
    <div>{{md_entry|safe }}</div>

    <a href={% url 'encyclopedia:editEntry' entryTitle=entry_title %}>edit</a>
                <!--django subs in a url for a given app_name:pathName... 
                my "getEntry" path happens to require an argument (to say which encyclopedia entry page we are getting)
                i set "entryTitle" (parameter variable i named in urls.py and refrenced in views.py for the function)
                to be equal to "entry" which is a django template variable i defined in the django for loop above-->

{% endblock %}